API_SERVER_BIND_ADDR=:8080
ALLOWED_ORIGIN=http://localhost:3000

TIMEZONE=Asia/Tashkent

MONGO_CONNECTION_STRING=mongodb://localhost:27017
MONGO_DATABASE_NAME=templete

MYSQL_USERNAME=root
MYSQL_PASSWORD=secret
MYSQL_ADDR=localhost:3306
MYSQL_DATABASE=templete

REDIS_ADDR=localhost:6379
REDIS_USERNAME=
REDIS_PASSWORD=

TELEGRAM_BOT_TOKEN=
